@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: RGB(255, 255, 255);
  --color-f: RGB(0, 0, 0);
  --color-p: RGB(190, 190, 190);
  --color-r:RGB(148,0,255);
  --color-t: RGB(255, 100, 100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: RGB(0, 0, 0);
    --color-f:  RGB(255, 255, 255);
    --color-p: RGB(190, 190, 190);
    --color-r:RGB(148,0,255);
    --color-t: RGB(255, 100, 100);
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-f);
}