@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 29, 32, 33;
  /* #1D2021 */
  --background-end-rgb: 249, 245, 215;
  /* #f9f5d7 */
}

.dark {
  --foreground-rgb: 255, 255, 255;
  /* branco puro, sem laranja */
  --background-end-rgb: 29, 32, 33;
  /* #1D2021 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}
